{% load staticfiles %}
<HTML>
<HEAD>
<TITLE>URL STATUS CODE APPLICATION</TITLE>
    <script type="text/javascript" src="{{ STATIC_URL }}/check.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/check.css" />

</HEAD>
 <body style="background:#f58220; font-f">

    <div style="background: #f79f54; width: 500px; margin: auto; padding: 20px; margin-top: 100px">

<form name="MailSend" method="post" action="/mail/">
    {%csrf_token%}
    {{message}}
    <font color="ff0000">{{msg}}</font>
		<table cellpadding="8" spellcheck="4">
			<tr>
				<td>Email ID</td>
				<td><input type="text" value="" name="Email" id="Email" style="padding:5px; width:280px" onblur="checkTextField(this);"> </td>
			</tr>

			<tr>
				<td> </td>
                <td><input type="button" value="Submit" style="padding:2px; font-size:15px;" name="Submit" onclick="check()"></td>
            </tr>
		</table>

    </form>


    </div>
</BODY>
</HTML>